---
layout: layout.njk
meta:
  "@type": WebSite
  "name": Site title
  "description": Site description
  "url": https://example.com
  "logo":
    "src": https://example.com/images/logo.png
    "width": 1200
    "height": 630
  "language": en-US
  "title": Page title
  "image":
    "src": https://example.com/images/page.png
  "potentialAction": 
    "@type": SearchAction
    "target": 
      "@type": EnrtyPoint
      "urlTemplate": test
---

Page content...
